{% extends "./base.html" %}

{% block title %} Gestión de Personas {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar departamento {{Departamento.nombreDepartamento}}</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarDepartamento/{{Departamento.idDepartamento}}/" method="POST">{% csrf_token %}
                    <div class="form-group mb-3">
                        <label class="form-label">Nombre departamento</label>
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" value ="{{Departamento.nombreDepartamento}}" placeholder="Nombre" maxlength="50" required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" title="Por favor, ingrese solo letras en este campo">
                    </div>
                    

                    <div class="form-group">
                        <label class="form-label">Población</label>
                        <input type="number" min="1" max="1000000" id="numPoblacion" name="numPoblacion" value="{{Departamento.poblacion}}" class="form-control" placeholder="Poblacion"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Documento del Gobernador</label>
                        <input type="text" id="txtGobernador" name="txtGobernador" value="{{Departamento.idGobernador.idPersona}}" class="form-control" placeholder="Número de identificación"
                            minlength="6" maxlength="15"  pattern="[0-9]+" title="Por favor, ingrese un número de identificación válido (mínimo 6 dígitos)">
                    </div>
                    

                    <div class="d-grid gap-2 caja-guardar">
                        <button type="submit" class="btn btn-block boton-guardar" >Guardar</button>
                    </div>
                    <div class="d-grid gap-2 caja-cancelar">
                        <button class="btn btn-block boton-cancelar" onclick="goToPage('/gestionDepartamentos')">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}